In [1]:
print('안녕하세요', '저는 손흥민 입니다.', '반갑습니다')

안녕하세요 저는 손흥민 입니다. 반갑습니다

In [4]:
print('''
        안녕하세요
        저는 손흥민 입니다.
        반갑습니다.
    ''')

        안녕하세요
        저는 손흥민 입니다.
        반갑습니다.

In [5]:
print('안녕하세요'*3)

안녕하세요안녕하세요안녕하세요

In [6]:
print(3*'Hi~~!!!!')

Hi~~!!!!Hi~~!!!!Hi~~!!!!

In [7]:
print('안녕하세요')
print('안녕하세요'[0])
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

안녕하세요
안
녕
하
세
요

In [9]:
print('안녕하세요')
print('안녕하세요'[-1])
print('안녕하세요'[-2])
print('안녕하세요'[-3])
print('안녕하세요'[-4])
print('안녕하세요'[-5])

안녕하세요
요
세
하
녕
안

In [10]:
print('안녕하세요'[2:4])

하세

In [11]:
print('안녕하세요'[:3]) # 0~3 미만

안녕하

In [12]:
print('안녕하세요'[3:]) # 3~ 4

세요

In [14]:
hello = '안녕하세요'
print(type(hello))
print(hello[:3])

<class 'str'>
안녕하

In [15]:
print(len('안녕하세요'))
print(len(hello))

5
5

In [16]:
# 파이썬의 숫자 표현은 정수와 실수로 나누어 처리
# int , float
print(type(111))
print(type(10.11))

<class 'int'>
<class 'float'>

In [19]:
# 파이썬의 나누기 연산 결과는 정수간의 연산이라도 결과를 실수로 표현 해준다.
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [21]:
# 제곱 연산 **
print(2**2)
print(2**8)

4
256

In [22]:
#typeError
print('hi~'+30)

TypeError: can only concatenate str (not "int") to str

In [25]:
number = input('정수값 하나를 입력해주세요 >>>')
print(type(number),number) #number는 str : input함수에서 반환한 타입이 str이기 때문에
number = int(number) # number를 int 로 반환
print (type(number), number) # number -> int 정수간의 산술연산이 가능

정수값 하나를 입력해쥇요 >>>3
<class 'str'> 3
<class 'int'> 3

In [29]:
#ValueError
#int('hi')
#float('hello')
int('111.111')
#int(11.11)

ValueError: invalid literal for int() with base 10: '111.111'

In [35]:
format_a = '{}만 원'.format(5000)
format_b = '첫 연봉 {}만 원 만들기.'.format(5000)
format_c = "{} {} {}".format(10, 20, 30)
format_d = "{} {} {}".format(1000, True, "문자열")
format_e = "{} {} {}".format(1000, False, "문자열", 5000)
format_f = "{} {} {}".format(1000, False)


print(format_a)
print(format_b)
print(format_c)
print(format_d)
print(type(True))

IndexError: Replacement index 2 out of range for positional args tuple

In [39]:
print('hello123'.isalnum())
print('hello123'.isalpha())
print('123'.isdigit())

True
False
True

In [40]:
print('안녕하세요'.find('하'))

2

In [41]:
print('안녕' in '안녕하세요')

True

In [42]:
numbers = '10 20 30 40 50 60 70 80'.split(' ')
print(type(numbers), numbers)

<class 'list'> ['10', '20', '30', '40', '50', '60', '70', '80']